# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.coverage
.pytest_cache/
.mypy_cache/

# venv
.venv/

# IDE
.vscode/
.idea/

# DB / cache
app.db
*.sqlite*
*.db

# Env
.env
.env.*
!.env.example

# Node (혹시 프론트 같이 있을 때)
node_modules/
